@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: white;
    /* background-color: #F8F7F4; */
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    
}
h1::selection,h3::selection,h4::selection,img::selection{
    background-color: rgb(255, 220, 117);
}

#page1 #nav{
    height: 100px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#nav-part1{
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nav-part1 h4{
    font-size: 0.9rem;
    font-weight: 550;
}
#nav img{
    height: 100px;
}
#nav-part2{
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 3rem;
}
#nav-part2 button{
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 40px;
    border: 0;
    outline: 0;
    background-color: black;
    color: white;
    font-size: 0.9rem;
}
#nav-part2 button:first-child{
    background-color: transparent;
    color: black;
    margin: 0 10px;

}

#page1 #content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#content h3{
    background-color: red;
    color: white;
    margin-top: 60px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    transition: 2000ms linear background-color;
}
#content h1{
    color: black;
    line-height: 5rem;
    font-size: 4.5rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
}
#content h4{
    font-size: 1.2rem;
    font-weight: 500;
}

#content button{
    background-color: #EAB3ED;
    padding: 1rem 1.8rem;
    font-size: 0.8rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
}

#bottom{
    padding: 0 20px;
    height: 400px;
    width: 100%;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px; */
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap;
}
#bottom::-webkit-scrollbar{
    display: none;
}

#bottom .elem{
    display: inline-block;
    height: 350px;
    width: 300px;
    margin-right: 30px;
    border-radius: 40px;
    margin-top: 25px;
    position: relative;
    animation-name:"scrollbar";
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    overflow: hidden;
    animation: scrollAnimation 5s ease-in-out infinite;  
}

/* @keyframes scrollAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2000px); }
} */

.elem img{
    object-position: center;
    height: 100%;
    width: 100%;
}

.elem video{
    object-fit:cover;
    height: 100%;
    width: 100%;
}


#page2{
    height: fit-content;
    width: 100%;
    position: relative;
    padding: 40px;
}

#page2 h1{
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 80px;
}
.flexed{
    display: flex;
    flex-wrap:wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

#page2 .box{
    height: 320px;
    width: 420px;
    background-color: red;
    border: 2px solid;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    
}

#page2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page2 button{
    padding: 20px 20px;
    font-weight: 600;
    border-radius: 40px;
    border: 1.6px solid black;
    outline: 0;
    width:12.5%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    margin: auto 50%;
    transform: translate(-50%,-50%);
    margin-top: 100px;
    margin-bottom: 60px;
    transition: 350ms linear;
}
#page2 button:hover{
    color: rgb(131, 131, 131);
    border: rgb(155, 155, 155) 1.6px solid ;
}

#page3{
    height: 100%;
    width: 100%;
}

.container{
    height: 70%;
    width: 100%;
    background-color: #FFDA79;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.container header{
    font-size: 3.7rem;
    margin-top: 30px;
    text-align: center;
}
.container h4{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-top: -40px;
}
#page3 .buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}
#page3 button{
    padding: 20px 20px;
    font-weight: 600;
    border-radius: 40px;
    border: 1.6px solid black;
    outline: 0;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    margin-top: -10px;
    transition: 200ms linear;
}
#page3 button:first-child{
    background-color: rgb(0, 0, 0);
    color: white;
}
#page3 button:first-child:hover{
    background-color: rgb(89, 89, 89);
}
#page3 button:nth-child(2){
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0;
}
#page3 button:nth-child(2):hover{
    color: rgb(124, 124, 124);
}

#page3 h5{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;
}
#page3 h5 a{
    color: rgb(0, 0, 0);
}


